<% provide(:title, "") %>
<div class="center jumbotron">
  <h1 id="logo" >きみもしらない、いいところ。</h1>
  <h2>きみは、きみが思っているよりきっと、素敵なひとだ。</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
